:root {
    --main-bg-color: #C0DAAC;
    --main-fontcolor: #000000;
    --acc-title-bgcolor: #FFFFFF;
    --acc-content-bgcolor: #ABADDE;
    --border-color: #687AAA;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    color: var(--main-fontcolor);
    background-color: var(--main-bg-color);
    font-size: 20px;
}

ul,
li,
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.section {
    padding-top: 10%;
    padding-bottom: 10%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5.2%;
    padding-right: 5.2%;
}


.header {
    display: inline-block;
    cursor: pointer;
}

.header:hover~.accordion .accordion__icon {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}


.header:hover~.accordion .accordion__text {
    color: var(--main-fontcolor);
    transition: color 300ms ease-in-out;

}

.accordion {
    width: 100%;
    padding: 0 0;
}

.accordion:hover {
    cursor: pointer;
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 2.2rem;
    border-bottom: 0.1rem solid var(--border-color);
    background-color: var(--acc-title-bgcolor);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

.accordion__input {
    display: none;
}

.accordion__img {
    display: block;
    
    transform: scale(0);
}

.accordion__icon {
    display: inline-block;
    opacity: 0;
}
.accordion__item .accordion__img {
    transition: transform 300ms ease-in-out;
}
.accordion__item:hover .accordion__img {
  
    
    transform: scale(1);
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.accordion:hover .accordion__icon {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.accordion__label:hover .accordion__icon {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    transform: rotate(180deg);
}

.accordion__text {
    color: #7679C9
}

.accordion:hover .accordion__text {
    color: var(--main-fontcolor);
    transition: color 300ms ease-in-out;

}

.accordion__input:checked~.accordion__title .accordion__icon {
    transform: rotate(180deg);
}


.accordion__input:checked~.accordion__title .accordion__text {
    color: var(--main-fontcolor)
}

.accordion__input:checked~.accordion__content {
    max-height: 20rem;
}

.accordion__input:checked~.accordion__content .accordion__img {

    height: 100%;
    transform: scale(1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.accordion__label:hover {
    cursor: pointer;
}

.accordion__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acc-content-bgcolor);
    border-bottom: 0.1rem solid var(--border-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;

}
.accordion__item .accordion__content {
    transition: max-height 300ms ease-in-out;
    
}

.accordion__item:hover .accordion__content {
    max-height: 20rem;
    
}

.accordion__item:last-child .accordion__content {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accordion__item:first-child .accordion__title {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}